# Set default behavior, in case users don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.m text eol=lf
*.md text eol=lf
*.mlx binary
*.mltbx binary
*.png binary
*.jpg binary
toolbox/bin/**/* binary